

body{
    
      list-style: none;
     text-decoration: none;
}

  h1, p, h2, h3, ul, blockquote {
    margin: 0;
    padding: 0;

  }
  a{
    text-decoration: none;
    
  }
 ul{
    list-style: none;
     text-decoration: none;
 }
 /* body */
 .container{
    width: 1440px;
    margin: 0 auto;
 }
 /* Header */
 .header-container{
    width: 1440px;
    border-bottom: 3px solid #FFFFFF;
    height: 150px;
 }
 .header-navigation{
   
    background-color: rgba(43, 74, 97, 0.87);;
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),url('../images/overlayy1.png'),url('../images/overlay1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: space-between;
 }
 
 .logo-link{
    width: 186px;
    height: 72px;
    padding-left: 204px;
    padding-top: 33px;
    padding-bottom: 39px;
    padding-right: 168px;
 }
.header-main-navigation{
    display: flex;
   
    justify-content: space-between;
}
 
 .header-nav-list{
   font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    width: 325px;
    padding-top: 57px;
    
    
 }
 .header-nav-list a{
        text-decoration: none;
        color: #FFFFFF;
        
    }
    .header-nav-list a:hover, .header-nav-list-main a:focus{
        color:  #94CFFF;

    
    }
 
 .nav-button{
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #26C6EA;
    width: 141px;
    height: 41.69px;
    background: #0B0E66;
    border: 2px solid #26C7EA;
    border-radius: 35px 0px;
    display: block;
    margin: 48px 0px 0px 212px
   
   

 }
 .header-language-list{
    display: flex;
    width: 107px;
    justify-content: space-between;
    padding: 59px 48px 71px 49px;
 }
 .header-nav-paragraph{
    font-family: 'Hammersmith One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
display: flex;

 }
 /* Main */
    /* Hero */

.hero-section{
   
    background-color: rgba(43, 74, 97, 0.87);;
    background-image:url('../images/overlay2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    padding: 180px 0 179px 0;
   
  
 }
 .hero-container{
    width: 1032px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
 }
 
 .hero-left{
 
 }
 .hero-list{
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
   
   
 }
 .hero-list-item{
    margin-bottom: 24px;
 }
    .hero-paragraph{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;

    }
.hero-button{
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #26C7EA;
    width: 260px;
    height: 80px;
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    margin-top: 42px;
}
.arrow{
    margin-left: 40px;
}
/* Main content */
.main-section-quote{
    margin: 0px;
}
.main-header-quote{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #0A3853;
    padding-top: 75px;
   

}
.main-paragraph{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 16px 0px 8px 0px;
    display: block;


}
.main-image{
    width: 400px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 10px;
}
.main-button-container{
    background-image: url('../images/overlay3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    padding: 330px 0px;
    
   
}
.main-button{
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #26C7EA;
    width: 260px;
    height: 80px;
    background: #0B0E66;
    border: 3px solid #26C7EA;
    border-radius: 45px 0px;
    margin: 0 auto;
    
    display: block;

    
}
.main-navi-language{
    background-image: url('../images/overlay5.png');
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 58px 0px 57px 0px;
}
.main-language-container{
    width: 1032px;
    margin: 0 auto;
 

   
}
.main-language-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  
   
    
}
.main-language-card{
    background: rgba(255, 255, 255, 0.7);
    width: 320px;
 
    padding: 36px 0px;
}
.main-language-card:not(:nth-child(n+4)){
    margin-bottom: 24px;
}

.main-header-language{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #141414;
    text-align: center;
    margin-bottom: 45px;

}
.main-paragraph-language{
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #141414;
    text-align: center;
    padding-bottom: 40px;

}
.main-paragraph-translation{
    font-family: 'HeadlandOne';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding-top: 40px;

}
.main-language-image{
    width: 152px;
    height: 40px;
    margin: 0 auto;
    display: flex;
}
/* Footer */
.footer{
    padding: 35px 0 25px;
    background-color: rgba(43, 74, 97, 0.87);
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)),url('../images/overlayy1.png'),url('../images/overlay1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.footer-container{
    display: flex;
}
.footer-logo-container{
    border-right: 2px solid #FFFFFF;
    height: 70px;
    padding: 42px 80px 51px 204px;
    width: 183px;
    margin-right: 80px;
}

.footer-nav-list{
    display: flex;
    justify-content: space-between;
    width: 689px;
 
}
.footer-list-item-qa{
    margin-bottom: 16px;
    
}
.footer-list-item{
    margin-bottom: 37px;
    
}
.footer-paragraph{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
   
    color: #FFFFFF;
  

}
.footer-rights{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    
  
   
    

}
.email{
    display: inline-block;
}
   

